
*{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    width: 356px;
    height: 566px;
    background: #2D2A37;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10vw 70vh; 
    border-radius: 48px;   
}
.calc{
    display: flex;
    flex-flow: row-reverse wrap;
    width: 288px;
    height: 86px;
    
    justify-content: space-between;
    align-content: space-between;
    padding: 0px 22px 0px 18px;
    
    
}
.vis{
    
    display: flex;
    flex-basis:288px;
    justify-content: flex-end;
    color: #6B6B6B;

    text-align: right;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
    letter-spacing: -0.4px;
    }
.res{
    display: flex;
    text-align: end;
    color: #EBEBEB;
    text-align: right;
    font-family: Rubik;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 50.4px */
    letter-spacing: -0.72px
    
    
}
.igual{
    
    display: flex;
    justify-content: flex-end;
    color: #6B6B6B;



    
   
    
   
}

.teclado{
    display: flex;
    width: 292px;
    height: 368px;
    flex-flow: column wrap; 
    justify-content: space-between;
    align-content: space-between;
    
}



.n {
display: flex;
color: #EBEBEB;
width: 10%;
height: 8.5%;
padding: 18px;
font-size: 24px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 999px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 0.05) 100%), #2D2A37;
box-shadow: 0px 11px 7px 0px rgba(0, 0, 0, 0.01), 0px 7px 7px 0px rgba(0, 0, 0, 0.04), 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.26), 0px 0px 2px 0px rgba(0, 0, 0, 0.29), 0px 2px 3px 0px rgba(255, 255, 255, 0.06) inset;
    
 
}
.ce{
    color: #975DFA;
}
.ig{
    border-radius: 999px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(255, 255, 255, 0.05) 100%), #7F45E2;
box-shadow: 0px 11px 7px 0px rgba(0, 0, 0, 0.01), 0px 7px 7px 0px rgba(0, 0, 0, 0.04), 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.26), 0px 0px 2px 0px rgba(0, 0, 0, 0.29), 0px 2px 3px 0px rgba(255, 255, 255, 0.10) inset;

}
.cor{
    border-radius: 999px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.05) 0.01%, rgba(255, 255, 255, 0.05) 100%), #462878;
box-shadow: 0px 11px 7px 0px rgba(0, 0, 0, 0.01), 0px 7px 7px 0px rgba(0, 0, 0, 0.04), 0px 4px 6px 0px rgba(0, 0, 0, 0.10), 0px 2px 4px 0px rgba(0, 0, 0, 0.26), 0px 0px 2px 0px rgba(0, 0, 0, 0.29), 0px 2px 3px 0px rgba(255, 255, 255, 0.10) inset;
}